name: Build and Push Backend Image

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"
      - ".github/workflows/docker-backend.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Build JAR
        working-directory: ./backend/swapspot
        run: |
          mvn -DskipTests package
          cp target/*.jar app.jar

      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ghcr.io/c-zong/swapspot-backend:latest
            ghcr.io/c-zong/swapspot-backend:${{ github.sha }}